App/
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
UWP/
[Oo]bj/
UserSettings/
Logs/

.DS_Store
*.csproj
*.unityproj
*.sln
*.ai
*.suo
*.user
*.userprefs
*.pidb
*.booproj
.vs
.vscode

sysinfo.txt
Build.meta
